Straight html
<input type="text" 
  (keyup)="filterProduct($event)"
  [(ngModel)]="searchText" />
<table>
  <thead>
    <th>Name</th>
    <th>Price</th>
  </thead>
  <tbody>
    <tr *ngFor="let p of products" [hidden]="p.hide">
      <td><a href="javascript:void(0);" (click)="nameClicked(p)">{{p.name}}</a></td>
      <td>{{p.price}}</td>
    </tr>
  </tbody>
</table>

<app-product [products]="products" (nameClicked)="nameClicked($event)"></app-product>
<app-product-list [productGroups]="productGroups" (nameClicked)="nameClicked($event)"></app-product-list>